.Button-Outer{
  border-radius: 1px;
}

.Button{
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 20px;
  border: solid black 3px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.Button-Start {
  color:#397C3D;
  background-color: #19351E;
}

.Button-Stop {
  color: #ffff38;
  background-color: #dd4242;
}

.Button-Lap{
  color: #343435;
  background-color: #141414;
}
